@import url("./global.css");

th,
td {
  padding: 10px 10px;
}

.cart {
  padding: 40px 0px;
  height: 100vh;
}

.cart .cart__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.cart .info {
  display: block;
  display: flex;
  justify-content: end;
}

.cart .info .btn-checkout {
  margin-top: 20px;
}

.cart .carts .card {
  background-color: var(--light-bg);
  padding: 20px;
  border-radius: 20px;
  overflow-x: auto;
}

.cart .carts .card table {
  width: 100%;
}

.cart .carts .card table tr td img {
  border-radius: 20px;
}

.cart .carts .card table tr td .name {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left !important;
}

.cart .carts .card td.price {
  color: var(--primary-color);
  font-weight: 600;
}

.cart .carts .card table tr td {
  text-align: center;
  margin: auto;
}

.cart .carts .card table tr td .actions {
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;
}

.cart .carts .card table tr td button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

/* TABLET */
@media (min-width: 768px) {
}

/* DESKTOP */
@media (min-width: 992px) {
}
