@import url("./global.css");

.checkout {
  padding: 40px 0px;
}

.checkout .checkout__title {
  font-size: 28px;
  margin-bottom: 20px;
}

.checkout .row {
  display: flex;
  flex-wrap: wrap;
}

.checkout .row .col-1 {
  width: 100%;
  padding-right: 0;
}

.checkout .card {
  background-color: var(--light-bg);
  padding: 30px 20px;
  border-radius: 20px;
  overflow-x: auto;
}

.required-icon {
  color: red;
}

.form-input-label {
  margin-bottom: 8px;
  display: block;
}

.form-input-text {
  background-color: white;
  padding: 15px;
  border: none;
  display: block;
  width: 100%;
  border-radius: 15px;
  transition: 0.1s ease-out all;
}
.form-input-text:hover {
  outline: 2px solid var(--accent-color);
}
.form-input-text:focus {
  outline: 2px solid var(--accent-color);
}
.form-input-text:focus::placeholder {
  color: var(--accent-color);
}

.form-input-select {
  background-color: white;
  padding: 15px;
  border: none;
  width: 100% !important;
  border-radius: 15px;
}

.checkout .row .col-1 .card .input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.checkout .row .col-1 .card .address-input-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  gap: 15px;
}

.checkout .row .col-1 .card .address-input-group textarea {
  grid-column: 1 / 2;
  height: 100px;
}

.checkout .row .col-1 .card .agreed {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  padding: 0px 10px;
  font-size: 14px;
}

.checkout .row .col-2 {
  width: 100%;
  padding-left: 0;
  margin-top: 40px;
}

.checkout .row .col-2 .products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout .row .col-2 .products .products__item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.checkout .row .col-2 .products .products__item img {
  border-radius: 20px;
}

.checkout .row .col-2 .products .products__item span {
  padding-left: 10px;
  color: #999999;
}

.checkout .row .col-2 .products .products__item p {
  padding-top: 5px;
  color: var(--primary-color);
  font-weight: 600;
}

.checkout .row .col-2 .form-input-select {
  border: 2px solid #d2d2d2;
  margin-top: 20px;
}

.checkout .row .col-2 .total-group {
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.checkout .row .col-2 .total-group .total-group__item {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.checkout .row .col-2 .total-group .total-group__item .price {
  font-weight: 600;
}

.checkout .row .col-2 .total-group .total-group__item.total {
  font-weight: 600;
  margin-top: 12px;
  font-size: 16px;
}

.checkout .row .col-2 .btn-payment {
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 400;
}

.modal .modal__content .modal__content__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.modal .modal__content .modal__content__body img {
  width: 5em;
}

.modal .modal__content .modal__content__body .btn-invoice:hover {
  background-color: var(--accent-color-hover-state);
}

.modal .modal__content .modal__content__footer {
  text-align: center;
}

/* TABLET */
@media (min-width: 768px) {
  .checkout .row .col-1 {
    width: 60%;
    padding-right: 20px;
  }
  .checkout .row .col-2 {
    width: 40%;
    margin-top: 0;
    padding-left: 20px;
  }
  .checkout .row .col-1 .card .address-input-group {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .checkout .row .col-1 .card .address-input-group textarea {
    grid-column: 1 / 3;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
}
