@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #607e60;
  --secondary-color: #82a382;
  --accent-color: #ff9013;
  --accent-color-hover-state: #cf6e00;
  --light-bg: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.container {
  padding: 0px 30px;
}

.text-center {
  text-align: center !important;
}

.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal__content {
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 330px;
  border-radius: 20px;
  min-height: 25rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr auto 0.3fr;
  justify-content: space-between;
}

.modal .modal__content .modal__content__header {
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal .modal__content .modal__content__body {
  padding: 10px 0px;
  width: 100%;
}

.modal .modal__content .modal__content__footer {
  padding: 10px 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: inline;
}

.btn {
  padding: 15px 25px;
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: 0.2s ease-in all;
  border: none;
  cursor: pointer;
}

.bg-primary {
  background-color: var(--accent-color);
  color: white;
}

.navbar {
  position: relative;
  z-index: 2;
  padding: 30px 0px;
  background-color: var(--primary-color);
}

.navbar .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .container .row .navbar-brand {
  color: white;
  font-size: 20px;
}

.navbar .container .row ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar .container .row ul li a {
  color: white;
}

.navbar .container .row ul li a i {
  font-size: 25px;
}

.product-item {
  transition: 0.2s ease-in all;
}
.product-item:hover {
  transform: scale(1.02);
}

.product-item img {
  width: 100%;
  border-radius: 20px;
}

.product-item .product-item__body {
  padding: 10px;
  width: 100%;
}

.product-item .product-item__body .product-item__body__title {
  color: black;
  line-height: 40px;
}

.product-item .product-item__body .product-item__body__price {
  color: var(--primary-color);
  line-height: 40px;
  font-size: 2em;
}

.product-item .product-item__body .product-item__body__description {
  color: black;
  line-height: 25px;
  padding: 10px 0px;
}

.product-item .product-item__footer {
  display: flex;
  align-items: center;
}

.product-item .product-item__footer .btn-checkout {
  flex-grow: 2;
  background-color: var(--accent-color);
  text-align: center;
  color: white;
  transition: 0.2s ease-in all;
}
.product-item .product-item__footer .btn-checkout:hover {
  background-color: var(--accent-color-hover-state);
}

footer {
  background-color: var(--light-bg);
  padding: 25px;
  text-align: center;
  margin-top: 40px;
}

/* TABLET */
@media (min-width: 768px) {
  .container {
    padding: 0px 40px;
  }
  .modal .modal__content {
    min-width: 500px;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .container {
    padding: 0px 80px;
  }
  .modal .modal__content {
    min-width: 600px;
  }
}
