@import url("./global.css");

.navbar-home {
  position: relative;
  z-index: 2;
  padding: 30px 0px;
}

.navbar-home .container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-home .container .row .navbar-brand {
  color: white;
  font-size: 20px;
}

.navbar-home .container .row ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

.navbar-home .container .row ul li a {
  color: white;
}

.navbar-home .container .row ul li a i {
  font-size: 25px;
}

.hero {
  background: url("../assets/hero-bg.png") no-repeat;
  background-size: cover;
  height: 97vh;
  margin-top: -6.5rem;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  display: block;
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(7, 7, 7, 0.3),
    rgba(7, 7, 7, 0.6)
  );
}

.hero .container {
  position: relative;
  z-index: 2;
}

.hero .container h1 {
  line-height: 2.5rem;
  margin-bottom: 40px;
  font-size: 1.7rem;
}

.hero .container a:hover {
  background-color: var(--accent-color-hover-state);
}

.recommendation {
  padding: 40px 0px;
}

.recommendation .recommendation__title {
  font-size: 24px;
}

.recommendation .container .products {
  margin-top: 20px !important;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.recommendation .container .products .product-item {
  width: 100%;
}

/* TABLET */
@media (min-width: 768px) {
  .hero {
    height: 80vh;
  }

  .hero .container h1 {
    font-size: 3.2rem;
    line-height: 4.5rem;
  }

  .recommendation .container .products {
    gap: 1.5rem;
  }

  .recommendation .container .products .product-item {
    width: 31%;
  }
}

/* DESKTOP */
@media (min-width: 992px) {
  .hero {
    height: 90vh;
  }
  .hero .container h1 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .recommendation .container .products .product-item {
    width: 31.6%;
  }
}
